<div class="container">
  <h2>Inscription</h2>
  <form>
    <label for="email">Email :</label>
    <input
      type="email"
      id="email"
      [(ngModel)]="email"
      placeholder="Entrez votre email"
      class="form-control"
    />

    <label for="password">Mot de passe :</label>
    <input
      type="password"
      id="password"
      [(ngModel)]="password"
      placeholder="Entrez votre mot de passe"
      class="form-control"
    />

    <button (click)="register()" class="btn btn-success mt-2">
      S'inscrire
    </button>
  </form>
</div>
